﻿
@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

<form method="post">
    <h3>Name</h3>
    <input name="Name" />
    <br/>
    <h3>Description</h3>
    <input name="Description" />
    <br />
    <br />
    <button type="submit">Save</button>
</form>

