﻿@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>

<h3>Are you sure you want to Delete Category?</h3>


<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />

    <button type="submit">Save</button>

    <a href="/category">Cancel</a>
</form>

