﻿@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Catgeory</h2>

<form method="post">
    @*<input type="hidden" name="ID" value="@Model.ID" />*@
    <h3>Name</h3>
    <input name="Name" value="@Model.Name" />
    <br />
    <h3>Description</h3>
    <input name="Description" value="@Model.Description" />
    <br />
    <br />
    <button type="submit">Save</button>
</form>