﻿@{
    ViewBag.Title = "Create";
}
    <h2>Create</h2>
    <form id="createProduct" method="post">
        <h3>Name</h3>
        <input name="Name" />
        <br />
        <h3>Description</h3>
        <input name="Description" />
        <br />
        <h3>Price</h3>
        <input name="Price" />
        <br />
        <br />
        <button id="save" type="button">Save</button>
    </form>
<script>
    $("#save").click(function () {
        $.ajax({
            type: 'Post',
            url: '/Product/Create',
            data: $("#createProduct").serialize(),
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#addNew").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    })
</script>