﻿@model ClothBazar.Entities.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form id="ediitProduct" method="post">
    <input name="ID" value="@Model.ID" type="hidden" />
    <h3>Name</h3>
    <input name="Name" value="@Model.Name" />
    <br />
    <h3>Description</h3>
    <input name="Description" value="@Model.Description" />
    <br />
    <h3>Price</h3>
    <input name="Price" value="@Model.Price" />
    <br />
    <br />
    <button id="update" type="button">Update</button>
</form>

<script>
    $("#update").click(function () {
        $.ajax({
            type: 'Post',
            url: '/Product/Edit',
            data: $("#ediitProduct").serialize(),
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#editProduct").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
</script>
