﻿@model List<ClothBazar.Entities.Product>
@{
    ViewBag.Title = "ProductTable";
}

@Scripts.Render("~/bundles/jquery")

<div id="tableContainer">

    <div>
        <h2>ProductTable</h2>
        <form method="post">
            <input id="searchInput" name="Search" />
            <button type="button" id="search">Search</button>
        </form>
        <button type="button" id="newBtn">New</button>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <td>Products Name</td>
                    <td>Category</td>
                    <td>Price</td>
                    <td>Acrions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model)
                 {
                          @*<input id="ID" name="ID" type="hidden" value="@data.ID"/>*@
                    <tr>
                        <td>@data.Name</td>
                        <td>-</td>
                        <td>@data.Price</td>
                        <td>
                            <button type="button" class="editbtn" pro-id="@data.ID">Edit</button>
                        </td>
                        <td>
                            <button class="deleteBtn" del-id="@data.ID">Delete</button>
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>

</div>
<script>

    $("#search").click(function () {

        var searchVal = $("#searchInput").val();


        $.ajax({
            type: 'Post',
            url: '/Product/ProductTable',
            data: { search: searchVal }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })

            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                alert("Fail");
            });

    })


    @*$(".deleteBtn").click(function ()
    {

		swal({
			title: "Confirm?",
			text: "Are you sure you want to delete this product?",
			icon: "warning",
			buttons: true,
			dangerMode: true,
		})
		.then((willDelete) => {
			if (willDelete) {
				$.ajax({
					type: 'POST',
					url: '@Url.Action("Delete", "Product")',
					data: {
						ID: $(this).attr('data-id')
					}
				})
				.done(function (response) {
					$("#tableContiner").html(response);

					swal("Record deleted Successfully.", {
						icon: "success",
					});
				})
				.fail(function (XMLHttpRequest, textStatus, errorThrown) {
					alert("FAIL");
				});

			}
            });
    });*@

    $(".deleteBtn").click(function () {

        var confirmDelete = confirm("Are you sure you want to delete this item?");

        if (confirmDelete)
        {
            $.ajax({
                type: 'Post',
                url: '/Product/Delete',
                data: { ID: $(this).attr('del-id') }
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                })

                .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                    alert("Fail");
                });

        }
    });

    $("#newBtn").click(function () {

        //var searchVal = $("#searchInput").val();


        $.ajax({
            type: 'Get',
            url: '/Product/Create',
        })
            .done(function (response) {
                $("#addNew").html(response);
            })

            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                alert("Fail");
            });

    })

    $(".editbtn").click(function () {
        $.ajax({
            type: 'Get',
            url: '/Product/Edit',
            data: { Id: $(this).attr('pro-id'), }
        })
            .done(function (response) {
                $("#editProduct").html(response);
            })

            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                alert("Fail");
            });

    });

</script>